# articles-app/docker-compose.yml
version: '3.8'

services:
  articles-db:
    build: ./articles-db
    image: articles-app-articles-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: articles_db
      MYSQL_USER: articles_user
      MYSQL_PASSWORD: articles_password
    networks:
      - articles-network

  articles-back:
    build: ./articles-back
    image: articles-app-articles-back
    ports:
      - "8080:8080"
    depends_on:
      - articles-db
    networks:
      - articles-network

  articles-front:
    build: ./articles-front
    image: articles-app-articles-front
    ports:
      - "3000:3000"
    depends_on:
      - articles-back
    networks:
      - articles-network

networks:
  articles-network:
